<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- importamos iron ajax -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">

      <!-- invocamos una variable de tipo logado -->
      <div class="row" hidden$={{logado}}>
        <!-- agregamos bienvenida 16 oct -->
        <h1>Ingreso a la Aplicación</h1>
        <!-- agregamos campo email y su validacion y ponemos el value como bidireccional -->
        <br>
        Email: <input type="email" value="{{email::input}}">
        <!-- agregamos campo password y su validacion y ponemos el value como bidireccional -->
        <br>
        Password: <input type="password" value="{{password::input}}">
        <!-- agregamos un boton-->
        <br>
        <button on-click="login" type="button" name="button">Login</button>
      </div>

    <!-- agregamos leyenda de bienvenida y no muestra nada si no se ha logado-->
      <div class="row" hidden="{{!logado}}">
        <span>Bienvenido a la Aplicación</span>
      </div>
    </div>

    <!-- agregamos iron ajax -->
    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/v4/login"
      content-type = "application/json"
      crossDomain: true
      dataType: 'jsonp'
      method ="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error = "showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type:String
          },
          logado:{
            type:Boolean,
            value:false
          }
        };
      }

    login(){
        var loginData ={"email": this.email,"password": this.password};
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición Enviada");
    }

    manageAJAXResponse(data){
      console.log("Respuesta Recibida del Servidor");
      console.log(data.detail.response);
      this.logado=true;
    }

    showError(error){
      console.log("Hubo un error en la Petición");
      alert("Datos Ingresados Incorrectos, Verifique o Registrese");
      console.log(error);
    }
  }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
